---
import BtnScrollToTop from '@components/BtnScrollToTop.astro';

const getFullYear = new Date().getFullYear();
---

<footer class="footer-app">
    <div class="container-fluid">
        Dlfelix-BS5 © {getFullYear} - All rights reserved.
    </div>
</footer>

<BtnScrollToTop />
