<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<title>DL BS5</title>

<!-- font icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" />

<!-- bootstrap css -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" />

<!-- main css -->
<link rel="stylesheet" href="/assets/css/styles.css" />

<!-- vendors css -->
<link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css" />
<link rel="stylesheet" href="/assets/vendors/bootstrap-select/core/bootstrap-select.min.css" />
<link rel="stylesheet" href="/assets/vendors/bootstrap-select/core/bootstrap-select-custom.css" />
<link rel="stylesheet" href="/assets/vendors/dataTables/core/dataTables.bootstrap5.min.css" />
<link rel="stylesheet" href="/assets/vendors/fancybox/fancybox.css" />
<link rel="stylesheet" href="/assets/vendors/sidebar/sidebar.css" />

<!-- prism css -->
<link rel="stylesheet" href="/assets/vendors/prism/prism.min.css" />
<link rel="stylesheet" href="/assets/vendors/prism/prism-custom.css" />

<!-- libs -->
<script is:inline src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<!-- bootstrap js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

<!-- vendors js -->
<script is:inline src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script is:inline type="module" src="/assets/vendors/bootstrap-select/core/bootstrap-select.min.js"></script>
<script is:inline type="module" src="/assets/vendors/bootstrap-select/i18n/defaults-pt_BR.min.js"></script>
<script is:inline type="module" src="/assets/vendors/dataTables/core/jquery.dataTables.min.js"></script>
<script is:inline type="module" src="/assets/vendors/dataTables/core/dataTables.bootstrap5.min.js"></script>
<script is:inline src="/assets/vendors/fancybox/fancybox.umd.js"></script>
<script is:inline src="/assets/vendors/sidebar/sidebar.js" defer></script>

<script is:inline src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>

<!-- prism js -->
<script is:inline src="/assets/vendors/prism/prism.min.js"></script>
<script is:inline src="/assets/vendors/prism/prism-javascript.min.js"></script>

<!-- main js -->
<script is:inline src="/assets/js/main.js" defer></script>
