<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<title>Dlfelix BS5</title>

<!-- font icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />

<!-- bootstrap css -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" />

<!-- main css -->
<link rel="stylesheet" href="/assets/css/styles.css" />

<!-- vendor css -->
<link rel="stylesheet" href="/assets/vendor/perfect-scrollbar/perfect-scrollbar.css" />
<link rel="stylesheet" href="/assets/vendor/bootstrap-select/core/bootstrap-select.min.css" />
<link rel="stylesheet" href="/assets/vendor/bootstrap-select/core/bootstrap-select-custom.css" />
<link rel="stylesheet" href="/assets/vendor/dataTables/core/dataTables.bootstrap5.min.css" />
<link rel="stylesheet" href="/assets/vendor/fancybox/fancybox.css" />
<link rel="stylesheet" href="/assets/vendor/sidebar/sidebar.css" />

<!-- libs -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<!-- bootstrap js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

<!-- vendor js -->
<script is:inline src="/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script is:inline type="module" src="/assets/vendor/bootstrap-select/core/bootstrap-select.min.js"></script>
<script is:inline type="module" src="/assets/vendor/bootstrap-select/i18n/defaults-pt_BR.min.js"></script>
<script is:inline type="module" src="/assets/vendor/dataTables/core/jquery.dataTables.min.js"></script>
<script is:inline type="module" src="/assets/vendor/dataTables/core/dataTables.bootstrap5.min.js"></script>
<script is:inline src="/assets/vendor/fancybox/fancybox.umd.js"></script>
<script is:inline src="/assets/vendor/sidebar/sidebar.js" defer></script>

<!-- main css -->
<script is:inline src="/assets/js/main.js" defer></script>
