<aside class="sidebarApp shadow">
    <a class="nav-brand" href="/">
        <img class="img-fluid" src="/favicon.svg" />
    </a>

    <section class="contentSidebarApp">
        <ul class="nav navSidebarApp">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <span class="icon-img">
                        <i class="bi bi-house"></i>
                    </span>
                    <span class="name">Home</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/nav-float">
                    <span class="icon-img">
                        <i class="bi bi-pc-horizontal"></i>
                    </span>
                    <span class="name">NavFloat</span>
                </a>
            </li>

            <!-- Setup inicio -->
            <li class="nav-item">
                <a class="nav-link dropdown" data-bs-toggle="collapse" aria-expanded="false" href="#navCollapseSetup">
                    <span class="icon-img">
                        <i class="bi bi-ui-radios"></i>
                    </span>
                    <span class="name">Setup</span>
                    <i class="bi bi-chevron-right arrow"></i>
                </a>

                <div class="collapse" id="navCollapseSetup">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="/adm/pages/setup/administracao/listagem/index.asp">
                                <span class="name">Administração</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </section>
</aside>
