---
import BtnCopyCode from '@components/ui/BtnCopyCode.astro';
---

<div class="d-flex mb-3">
    <BtnCopyCode id="#code" />
</div>

<pre><code class="language-html" id="code">&lt;form action="" method="POST" enctype="multipart/form-data"&gt;
    &lt;div class="row align-items-center"&gt;
        &lt;label class="col-sm-6"&gt;
            &lt;div class="d-flex align-items-center justify-content-between gap-2"&gt;
                &lt;div class="d-flex align-items-center gap-1"&gt;
                    &lt;span&gt;Anexar Arquivo:&lt;/span&gt;
                    &lt;span
                        data-bs-toggle="tooltip"
                        data-bs-title="Extensões: .png, .jpg, .jpeg, .svg e .heic | Máximo: 10 MB"
                    &gt;
                        &lt;i class="bi bi-info-circle-fill"&gt;&lt;/i&gt;
                    &lt;/span&gt;
                &lt;/div&gt;

                &lt;button
                    class="btn px-1 pb-0 text-danger"
                    onclick="resetFileInput(this)"
                    data-target="anexo"
                    data-bs-toggle="tooltip"
                    data-bs-title="Limpar arquivos"
                &gt;
                    &lt;i class="bi bi-trash3"&gt;&lt;/i&gt;
                &lt;/button&gt;
            &lt;/div&gt;

            &lt;input
                type="file"
                name="anexo"
                multiple
                required
                class="form-control"
                data-file-bite="10485760"
                data-file-extensions=".png, .jpg, .jpeg, .svg, .heic"
                onchange="validateFileInput(this)"
            /&gt;
        &lt;/label&gt;

        &lt;div class="col-sm-1"&gt;
            &lt;div class="label-clearfix last-lg"&gt;&lt;/div&gt;
            &lt;button type="submit" class="btn btn-primary"&gt;Ok&lt;/button&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/form&gt;

&lt;script is:inline src="/assets/plugins/validateFileInput.js"&gt;&lt;/script&gt;
</code></pre>
