<ul class="ps-3">
    <li>Versão: 2.0.0</li>
    <li>Data de criação: 02/09/2025</li>
    <li>Data de update: 16/06/2026</li>
    <li>Autor: Rogério Saraceni</li>
</ul>

<p>
    Este plugin é responsável por validar arquivos enviados através de um formulário.
    <br />
    Ele verifica se os arquivos enviados estão dentro do tamanho máximo permitido
    e se possuem as extensões permitidas.
</p>

<p>
    Se o input for multiplo, o plugin verificará todos os arquivos e vai acumulando todos eles no input.
    <br />
    Pode procurar em varias locais do dispositivo que não irá apagar os já selecionados, só adicionar os novos.
</p>
