---
import Layout from '@layouts/LayoutNavFloat.astro';
---

<Layout>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card Title</h5>

            <h1>Welcome to the Home Page</h1>
            <p>This is the main content area.</p>
        </div>
    </div>
</Layout>
