<form id="form" method="POST" action="">
    <div class="d-flex flex-wrap gap-4">
        <label class="form-check-label gap-1 text-nowrap">
            <input type="radio" name="justificativa" class="form-check-input" value="1" data-input="justificativa" />
            <span>Aprovado</span>
        </label>

        <label class="form-check-label gap-1 text-nowrap">
            <input
                type="radio"
                name="justificativa"
                class="form-check-input"
                value="0"
                data-input="justificativa"
                id="checkboxReprovado"
            />
            <span>Reprovado</span>
        </label>
    </div>

    <hr />

    <label class="mb-2 w-100" data-wrapper="justificar" style="display: none">
        <span>Justificar:</span>
        <textarea name="jusificativaPendenciaAprova" class="form-control" rows="4" id="justificativa"
            >Texto aqui</textarea
        >
    </label>

    <div class="d-flex align-items-center justify-content-end">
        <button type="submit" class="btn btn-primary mb-0">Salvar</button>
    </div>
</form>

<script is:inline>
    function toggleJustificativa(checkboxReprovado, labelJustificativa, textareaJustificativa) {
        if ($(checkboxReprovado).is(':checked')) {
            $(labelJustificativa).show('fast');
            $(textareaJustificativa).prop('required', true);
        } else {
            $(labelJustificativa).hide('fast');
            $(textareaJustificativa).prop('required', false).val('').text('');
        }
    }

    $(document).ready(function () {
        const checkboxReprovado = '#checkboxReprovado';
        const labelJustificativa = '[data-wrapper="justificar"]';
        const textareaJustificativa = '#justificativa';

        toggleJustificativa(checkboxReprovado, labelJustificativa, textareaJustificativa);

        $('[data-input="justificativa"]').change(function () {
            toggleJustificativa(checkboxReprovado, labelJustificativa, textareaJustificativa);
        });

        $('#form').on('submit', function (e) {
            toggleJustificativa(checkboxReprovado, labelJustificativa, textareaJustificativa);

            if ($(checkboxReprovado).is(':checked') && !$(textareaJustificativa).val().trim()) {
                e.preventDefault();
                alert('Por favor, preencha a justificativa antes de enviar.');
                $(textareaJustificativa).focus();
            }
        });
    });
</script>
