<li class="nav-item">
    <a class="nav-link" href="/">
        <span class="icon-img">
            <i class="bi bi-house"></i>
        </span>
        <span class="name">Home</span>
    </a>
</li>

<!-- Layouts -->
<li class="nav-item">
    <a class="nav-link dropdown" data-bs-toggle="collapse" aria-expanded="false" href="#navCollapseLayouts">
        <span class="icon-img">
            <i class="bi bi-grid"></i>
        </span>
        <span class="name">Layouts</span>
        <i class="bi bi-chevron-right arrow"></i>
    </a>

    <div class="collapse" id="navCollapseLayouts">
        <ul class="nav sub-menu">
            <li class="nav-item">
                <a class="nav-link" href="/layouts/nav-float">
                    <span class="name">NavFloat</span>
                </a>
            </li>
        </ul>
    </div>
</li>

<!-- Forms -->
<li class="nav-item">
    <a class="nav-link dropdown" data-bs-toggle="collapse" aria-expanded="false" href="#navCollapseForms">
        <span class="icon-img">
            <i class="bi bi-ui-radios"></i>
        </span>
        <span class="name">Forms</span>
        <i class="bi bi-chevron-right arrow"></i>
    </a>

    <div class="collapse" id="navCollapseForms">
        <ul class="nav sub-menu">
            <li class="nav-item">
                <a class="nav-link" href="/forms/fileUploads/rules">
                    <span class="name">File Uploads Regras</span>
                </a>
            </li>
        </ul>
    </div>
</li>

<!-- Plugins -->
<li class="nav-item">
    <a class="nav-link dropdown" data-bs-toggle="collapse" aria-expanded="false" href="#navCollapsePlugins">
        <span class="icon-img">
            <i class="bi bi-plugin"></i>
        </span>
        <span class="name">My Plugins</span>
        <i class="bi bi-chevron-right arrow"></i>
    </a>

    <div class="collapse" id="navCollapsePlugins">
        <ul class="nav sub-menu">
            <li class="nav-item">
                <a class="nav-link" href="/plugins/tabFlat">
                    <span class="name">TabFlat</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/plugins/select-icons">
                    <span class="name">Select Icons</span>
                </a>
            </li>
        </ul>
    </div>
</li>

<!-- Vendors -->
<li class="nav-item">
    <a class="nav-link dropdown" data-bs-toggle="collapse" aria-expanded="false" href="#navCollapseVendors">
        <span class="icon-img">
            <i class="bi bi-layers"></i>
        </span>
        <span class="name">Vendors</span>
        <i class="bi bi-chevron-right arrow"></i>
    </a>

    <div class="collapse" id="navCollapseVendors">
        <ul class="nav sub-menu">
            <li class="nav-item">
                <a class="nav-link" href="/vendors/datatables">
                    <span class="name">Datatables</span>
                </a>
            </li>
        </ul>
    </div>
</li>
