<li class="nav-item">
    <a class="nav-link" href="/">
        <span class="icon-img">
            <i class="bi bi-house"></i>
        </span>
        <span class="name">Home</span>
    </a>
</li>

<!-- Layouts -->
<li class="nav-item">
    <a class="nav-link dropdown" data-bs-toggle="collapse" aria-expanded="false" href="#navCollapseLayouts">
        <span class="icon-img">
            <i class="bi bi-grid"></i>
        </span>
        <span class="name">Layouts</span>
        <i class="bi bi-chevron-right arrow"></i>
    </a>

    <div class="collapse" id="navCollapseLayouts">
        <ul class="nav sub-menu">
            <li class="nav-item">
                <a class="nav-link" href="/layouts/nav-float">
                    <span class="name">NavFloat</span>
                </a>
            </li>
        </ul>
    </div>
</li>

<!-- Bootstrap Custom -->
<li class="nav-item">
    <a class="nav-link dropdown" data-bs-toggle="collapse" aria-expanded="false" href="#navCollapseBootstrapCustom">
        <span class="icon-img">
            <i class="bi bi-bootstrap"></i>
        </span>
        <span class="name">Bootstrap Custom</span>
        <i class="bi bi-chevron-right arrow"></i>
    </a>

    <div class="collapse" id="navCollapseBootstrapCustom">
        <ul class="nav sub-menu">
            <li class="nav-item">
                <a class="nav-link" href="/bootstrapCustom/tabFlat">
                    <span class="name">TabFlat</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bootstrapCustom/segmentedButton">
                    <span class="name">Segmented Button</span>
                </a>
            </li>
        </ul>
    </div>
</li>

<!-- Forms -->
<li class="nav-item">
    <a class="nav-link dropdown" data-bs-toggle="collapse" aria-expanded="false" href="#navCollapseForms">
        <span class="icon-img">
            <i class="bi bi-ui-radios"></i>
        </span>
        <span class="name">Forms</span>
        <i class="bi bi-chevron-right arrow"></i>
    </a>

    <div class="collapse" id="navCollapseForms">
        <ul class="nav sub-menu">
            <li class="nav-item">
                <a class="nav-link" href="/forms/validateFileInput">
                    <span class="name">Validate File Input</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/forms/toggleCheckboxJustificativa">
                    <span class="name">Toggle Checkbox Justificativa</span>
                </a>
            </li>
        </ul>
    </div>
</li>

<!-- Plugins -->
<li class="nav-item">
    <a class="nav-link dropdown" data-bs-toggle="collapse" aria-expanded="false" href="#navCollapsePlugins">
        <span class="icon-img">
            <i class="bi bi-plugin"></i>
        </span>
        <span class="name">My Plugins</span>
        <i class="bi bi-chevron-right arrow"></i>
    </a>

    <div class="collapse" id="navCollapsePlugins">
        <ul class="nav sub-menu">
            <li class="nav-item">
                <a class="nav-link" href="/plugins/select-icons">
                    <span class="name">Select Icons</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/plugins/checkboxToggleIcon">
                    <span class="name">Checkbox Toggle Icon</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/plugins/pinDrop2">
                    <span class="name">PinDrop2</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/plugins/uploadBlobSplideJS">
                    <span class="name">Upload Blob SplideJS</span>
                </a>
            </li>
        </ul>
    </div>
</li>

<!-- Vendors -->
<li class="nav-item">
    <a class="nav-link dropdown" data-bs-toggle="collapse" aria-expanded="false" href="#navCollapseVendors">
        <span class="icon-img">
            <i class="bi bi-layers"></i>
        </span>
        <span class="name">Vendors</span>
        <i class="bi bi-chevron-right arrow"></i>
    </a>

    <div class="collapse" id="navCollapseVendors">
        <ul class="nav sub-menu">
            <li class="nav-item">
                <a class="nav-link" href="/vendors/amcharts5">
                    <span class="name">Amcharts 5</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/vendors/datatables">
                    <span class="name">Datatables</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/vendors/magnificPopup">
                    <span class="name">Magnific-Popup</span>
                </a>
            </li>
        </ul>
    </div>
</li>

<!-- Front-end Handbook -->
<li class="nav-item">
    <a class="nav-link dropdown" data-bs-toggle="collapse" aria-expanded="false" href="#navCollapseFrontEndHandbook">
        <span class="icon-img">
            <i class="bi bi-journal-code"></i>
        </span>
        <span class="name">Front-end Handbook</span>
        <i class="bi bi-chevron-right arrow"></i>
    </a>

    <div class="collapse" id="navCollapseFrontEndHandbook">
        <ul class="nav sub-menu">
            <li class="nav-item">
                <a class="nav-link" href="/handbook/security">
                    <span class="name">Security</span>
                </a>
            </li>
        </ul>
    </div>
</li>
