---
import NavLinks from './_nav-links.astro';
---

<aside class="sidebarApp shadow">
    <a class="nav-brand" href="/">
        <img class="img-fluid" src="/favicon.svg" />
    </a>

    <section class="contentSidebarApp">
        <ul class="nav navSidebarApp">
            <NavLinks />
        </ul>
    </section>
</aside>
