<link rel="stylesheet" href="/assets/plugins/checkboxToggleIcon/checkboxToggleIcon.css" />
<script is:inline src="/assets/plugins/checkboxToggleIcon/checkboxToggleIcon.js"></script>

<div class="wrapperCheckboxToggleIcon justify-content-center" data-wrapper="checkboxToggleIcon">
    <label data-bs-toggle="tooltip" data-bs-title="Ok">
        <input type="checkbox" class="ckeckboxToggle" name="" value="" />
        <buttom type="buttom" class="fs-5 btn ok" data-btn="points">
            <i class="bi bi-hand-thumbs-up-fill"></i>
        </buttom>
    </label>

    <label data-bs-toggle="tooltip" data-bs-title="Nok">
        <input type="checkbox" class="ckeckboxToggle" name="" value="" />
        <buttom type="buttom" class="fs-5 btn nok" data-btn="points">
            <i class="bi bi-hand-thumbs-down-fill"></i>
        </buttom>
    </label>
</div>
