<ul class="ps-3">
    <li>Versão: 1.0.0</li>
    <li>Data de criação: 26/08/2025</li>
    <li>Data de update: 26/08/2025</li>
    <li>Autor: Rogério Saraceni</li>
</ul>

<p>
    Um plugin jQuery que Substitui os checkboxes padrão por botões de alternância visualmente atraentes, usando ícones
    (por exemplo, polegares para cima/baixo do Bootstrap Icons, como no HTML fornecido).
</p>
