---
import BtnCopyCode from '@components/ui/BtnCopyCode.astro';
---

<div class="d-flex mb-3">
    <BtnCopyCode id="#code" />
</div>

<pre><code class="language-html" id="code">&lt;link rel="stylesheet" href="/assets/plugins/checkboxToggleIcon/checkboxToggleIcon.css" /&gt;
&lt;script src="/assets/plugins/checkboxToggleIcon/checkboxToggleIcon.js"&gt;&lt;/script&gt;

&lt;div class="wrapperCheckboxToggleIcon justify-content-center" data-wrapper="checkboxToggleIcon"&gt;
    &lt;label data-bs-toggle="tooltip" data-bs-title="Ok"&gt;
        &lt;input type="checkbox" class="ckeckboxToggle" name="" value="" /&gt;
        &lt;buttom type="buttom" class="fs-5 btn ok" data-btn="points"&gt;
            &lt;i class="bi bi-hand-thumbs-up-fill"&gt;&lt;/i&gt;
        &lt;/buttom&gt;
    &lt;/label&gt;

    &lt;label data-bs-toggle="tooltip" data-bs-title="Nok"&gt;
        &lt;input type="checkbox" class="ckeckboxToggle" name="" value="" /&gt;
        &lt;buttom type="buttom" class="fs-5 btn nok" data-btn="points"&gt;
            &lt;i class="bi bi-hand-thumbs-down-fill"&gt;&lt;/i&gt;
        &lt;/buttom&gt;
    &lt;/label&gt;
&lt;/div&gt;</code></pre>
