---
import Layout from '@layouts/LayoutSidebar.astro';
import PageTitle from '@components/ui/PageTitle.astro';
import ContentInfo from './_content-info.astro';
import ContentTab from './_content-tab.astro';

const breadcrumbs = [{ label: 'Home', href: '/' }, { label: 'My Plugins' }, { label: 'Checkbox Toggle Icon' }];
---

<Layout>
    <PageTitle title="Checkbox Toggle Icon" breadcrumbs={breadcrumbs} />

    <div class="card">
        <div class="card-body">
            <section class="row">
                <div class="col-lg-7">
                    <ContentInfo />
                </div>

                <div class="col-lg-5">
                    <ContentTab />
                </div>
            </section>
        </div>
    </div>
</Layout>
