---
import Layout from '@layouts/LayoutSidebar.astro';
---

<Layout>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">File Uploads Regras</h5>

            <form action="" method="POST" enctype="multipart/form-data">
                <div class="d-flex aling-items-center gap-2">
                    <label>
                        <div class="d-flex aling-items-center gap-2">
                            <span>Anexar Arquivo:</span>
                            <span
                                data-bs-toggle="tooltip"
                                data-bs-title="Extensões: .png, .jpg, .jpeg, .svg | Máximo: 10 MB"
                            >
                                <i class="bi bi-info-circle-fill"></i>
                            </span>
                        </div>

                        <input
                            type="file"
                            name="anexo"
                            data-inputfile="rules"
                            class="form-control"
                            multiple
                            data-file-bite="10485760"
                            data-file-extensions=".png, .jpg, .jpeg, .svg"
                        />
                    </label>

                    <div>
                        <div>&nbsp;</div>
                        <button type="submit" class="btn btn-primary">Ok</button>
                    </div>
                </div>

                <hr />

                <div class="d-flex aling-items-center gap-2">
                    <label>
                        <div class="d-flex aling-items-center gap-2">
                            <span>Anexar Arquivo:</span>
                            <span
                                data-bs-toggle="tooltip"
                                data-bs-title="Extensões: .png, .jpg, .jpeg, .svg | Máximo: 10 MB"
                            >
                                <i class="bi bi-info-circle-fill"></i>
                            </span>
                        </div>

                        <input
                            type="file"
                            name="anexo"
                            class="form-control"
                            multiple
                            data-file-bite="10485760"
                            data-file-extensions=".png, .jpg, .jpeg, .svg"
                            onchange="validateFileInput(this)"
                        />
                    </label>

                    <div>
                        <div>&nbsp;</div>
                        <button type="submit" class="btn btn-primary">Ok</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</Layout>

<script is:inline>
    function validateFileInput(inputFile) {
        const input = inputFile;
        const bite = parseInt(input.dataset.fileBite, 10);
        const extensionsText = input.dataset.fileExtensions || '';
        const extensions = extensionsText ? new RegExp(`(${extensionsText.split(', ').join('|')})$`, 'i') : null;

        if (input.files && input.files.length > 0) {
            for (const file of input.files) {
                const fileName = file.name;

                if (extensions && !extensions.test(fileName)) {
                    alert(`Fora das extensões permitidas: ${extensionsText}`);
                    input.value = '';
                    return false;
                }

                if (bite && file.size > bite) {
                    const maxMB = (bite / (1024 * 1024)).toFixed(0).replace('.', ',');
                    alert(`Excede o tamanho máximo de ${maxMB} MB`);
                    input.value = '';
                    return false;
                }
            }
        }
    }

    // Autoativação em todos com data-inputfile="rules"
    window.addEventListener('load', () => {
        const inputs = document.querySelectorAll('[data-inputfile="rules"]');

        inputs.forEach((input) => {
            input.addEventListener('change', function () {
                validateFileInput(this);
            });
        });
    });
</script>
