/* --------------------------------------------------------------------
* DESIGN SYSTEM: APP COLORS
* --------------------------------------------------------------------
* - Root Variables (Light Theme)
* - Dark Theme Support (via .theme-dark)
* - Background Utilities
* - Text Utilities
* - Border Utilities
---------------------------------------------------------------------- */

/* --------------------------------------------------------------------
* - Root Variables (Light Theme)
---------------------------------------------------------------------- */
:root {
    /* app-blue */
    --app-blue-400: #5b82d1;
}

/* --------------------------------------------------------------------
* - Light Theme Support (optional)
---------------------------------------------------------------------- */
:root[data-bs-theme='light']{
    --app-theme: #0073e6;
}

/* --------------------------------------------------------------------
* - Dark Theme Support (optional)
---------------------------------------------------------------------- */
:root[data-bs-theme='dark'] {
    --app-theme: #dbbd0f;
    
}

/* --------------------------------------------------------------------
* - Background Utilities
---------------------------------------------------------------------- */
.bg-app-green-400 { background-color: var(--app-green-400) !important;}

/* --------------------------------------------------------------------
* - Text Utilities
---------------------------------------------------------------------- */
.text-app-blue-400 { color: var(--app-blue-400) !important;}

/* --------------------------------------------------------------------
* - Border Utilities
---------------------------------------------------------------------- */
.border-app-blue-400 { border-color: var(--app-blue-400) !important;}
