---
import Layout from '@layouts/LayoutSidebar.astro';
---

<Layout>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card Title</h5>

            <h1>Welcome to the Home Page</h1>
            <p>This is the main content area.</p>

            <h6 class="mb-0">Components</h6>
            <ul>
                <li>Accordion</li>
                <li>Tabs</li>
                <li>Loader</li>
                <li>Alerts</li>
                <li></li>
                <li>Toggle Row</li>
                <li>JQuery Load</li>
                <li>JQuery Bar Rating</li>
                <li>Print</li>
                <li>Clone</li>
                <li>IP</li>
                <li>Slider</li>
                <li>Progress-Circle</li>
                <li>PDF</li>
                <li>Video HTML5</li>
                <li>Sidebar</li>
                <li>Navbar</li>
                <li>Temas</li>
            </ul>

            <h6 class="mb-0">Forms</h6>
            <ul>
                <li>Convert</li>
                <li>Mask</li>
                <li>Datas</li>
                <li>Validação</li>
                <li>File Uploads</li>
                <li>InputFile Progress</li>
            </ul>

            <h6 class="mb-0">Vendors</h6>
            <ul>
                <li>Amcharts 5</li>
                <li>Bootstrap Select</li>
                <li>FullCallendar</li>
                <li>Datatables</li>
                <li>Fancybox</li>
                <li>Jquery Mask</li>
                <li>Anime CSS</li>
                <li>Dom Purify (xss)</li>
            </ul>

            <h6 class="mb-0">Util</h6>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</Layout>
