---
import BtnCopyCode from '@components/ui/BtnCopyCode.astro';

const codeSnippet = `
<script>
    $(document).ready(function () {
        $.magnificPopup.open({
            items: {
                src: 'https://www.youtube.com/embed/dQw4w9WgXcQ', // URL do iframe
            },
            type: 'iframe',
            iframe: {
                markup:
                    '<style>.mfp-iframe-holder .mfp-content {width:100%;max-width:800px;height:420px;}</style>' +
                    '<div class="mfp-iframe-scaler" >' +
                    '<div class="mfp-close"></div>' +
                    '<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>' +
                    '	</div></div>',
            },
        });
    });
</script>
`;
---

<div class="card">
    <div class="card-body">
        <h6>Modelo Aberto</h6>

        <ul class="nav nav-tabs nav-flat mb-3">
            <li class="nav-item" role="presentation">
                <a
                    href="#tab-preview"
                    class="nav-link active"
                    data-bs-toggle="tab"
                    role="tab"
                    aria-controls="nav-preview"
                    aria-selected="true"
                >
                    Preview
                </a>
            </li>

            <li class="nav-item">
                <a
                    href="#tab-code"
                    class="nav-link"
                    data-bs-toggle="tab"
                    role="tab"
                    aria-controls="nav-code"
                    aria-selected="false"
                >
                    Code
                </a>
            </li>
        </ul>

        <div class="tab-content border-0">
            <div class="tab-pane show active" id="tab-preview">
                <script is:inline>
                    $(document).ready(function () {
                        $.magnificPopup.open({
                            items: {
                                src: 'https://www.youtube.com/embed/dQw4w9WgXcQ', // URL do iframe
                            },
                            type: 'iframe',
                            iframe: {
                                markup:
                                    '<style>.mfp-iframe-holder .mfp-content {width:100%;max-width:800px;height:420px;}</style>' +
                                    '<div class="mfp-iframe-scaler" >' +
                                    '<div class="mfp-close"></div>' +
                                    '<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>' +
                                    '	</div></div>',
                            },
                        });
                    });
                </script>
            </div>

            <div class="tab-pane code" id="tab-code">
                <div class="d-flex mb-3">
                    <BtnCopyCode id="#code1" />
                </div>

                <pre>
                    <code class="language-javascript" id="code1">{codeSnippet}</code>
                </pre>
            </div>
        </div>
    </div>
</div>
