<a
    class="d-flex align-items-center nav-link px-sm-2 px-1 dropdown-toggle"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
>
    <i class="bi bi-person-circle fs-5"></i>

    <div class="d-flex flex-column ms-2 info-user-desktop">
        <small class="lh-1" id="user-name">Rogério Saraceni</small>
        <small class="lh-1" id="user-email">rogerio@dlfelix.com</small>
        <small class="lh-1" id="user-cargo">Administrador</small>
    </div>
</a>

<ul class="dropdown-menu dropdown-menu-end overflow-hidden position-absolute py-0 shadow-sm">
    <li class="border-bottom info-user-mobile">
        <div class="d-flex align-items-center small p-2">
            <i class="bi bi-person-circle"></i>

            <div class="d-flex flex-column ms-2">
                <small class="lh-1" id="user-name">Rogério Saraceni</small>
                <small class="lh-1" id="user-email">maycon@dlfelix.com</small>
                <small class="lh-1" id="user-cargo">Administrador</small>
            </div>
        </div>
    </li>

    <li>
        <a
            class="dropdown-item p-2"
            data-fancybox
            data-type="iframe"
            data-width="500"
            data-height="710"
            href="/pages/perfil/index.asp"
        >
            <div class="d-flex align-items-center small">
                <i class="bi bi-person-fill-gear fs-6"></i>
                <span class="ms-2 text-sm"> Perfil </span>
            </div>
        </a>
    </li>

    <li>
        <a class="dropdown-item p-2" href="/util/logoff.asp">
            <div class="d-flex align-items-center small">
                <i class="bi bi-box-arrow-right fs-6"></i>
                <span class="ms-2 text-sm"> Sair </span>
            </div>
        </a>
    </li>
</ul>
