<a
    class="d-flex align-items-center nav-link px-sm-2 px-1 dropdown-toggle"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
>
    <i class="bi bi-translate fs-5" data-bs-toggle="tooltip" data-bs-title="Tradução"></i>
</a>

<ul class="dropdown-menu dropdown-menu-end overflow-hidden position-absolute py-0 shadow-sm">
    <label class="dropdown-item p-2 mb-0" role="button">
        <input type="radio" name="language" value="7" hidden checked />
        <div class="d-flex align-items-center small">
            <i class="bi bi-globe fs-5"></i>
            <span class="ms-2 text-sm"> Português Brasil </span>
        </div>
    </label>

    <label class="dropdown-item p-2 mb-0" role="button">
        <input type="radio" name="language" value="9" hidden />
        <div class="d-flex align-items-center small">
            <i class="bi bi-globe fs-5"></i>
            <span class="ms-2 text-sm"> Espanhol </span>
        </div>
    </label>
</ul>
