---
import Layout from '@layouts/LayoutSidebar.astro';
---

<Layout>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Accordion BS</h5>
        </div>
    </div>
</Layout>
