<ul class="ps-3">
    <li>Versão: 1.0.0</li>
    <li>Data de criação: 13/08/2025</li>
    <li>Data de update: 13/08/2025</li>
    <li>Autor: Rogério Saraceni</li>
</ul>

<p>
    Um plugin jQuery que transforma um contêiner HTML em um select visual de ícones.<br />
    Ele busca uma lista de ícones a partir de um arquivo JSON, exibe os ícones em uma lista clicável.<br />
    Permite que o usuário selecione um ícone para atualizar tanto o botão do select quanto no input hidden, que armazena
    a class do ícone para envio no Back-End.
</p>

<h6>Principais funcionalidades:</h6>

<ul class="ps-3">
    <li>Carrega ícones dinamicamente a partir de um arquivo JSON.</li>
    <li>Mostra o ícone selecionado no botão do select.</li>
    <li>Atualiza automaticamente um input hidden com o valor do ícone.</li>
    <li>Fecha o dropdown ao clicar fora ou ao selecionar um ícone.</li>
    <li>Suporta múltiplos selects de ícones na mesma página.</li>
</ul>

<p>
    O JSON usa a biblioteca de ícones do
    <a href="https://icons.getbootstrap.com/" target="_blank">Bootstrap</a>, e pode ser atualiza e até mesmoalterada por
    outra biblioteca de icones fonts.
</p>

<p class="d-flex align-items-baseline gap-2">
    <span>Modelo JSON:</span>
    <a href="/assets/plugins/select-icons/select-icons.json" download="select-icons">
        <i class="bi bi-download fs-5"></i>
    </a>
</p>
