---
import BtnCopyCode from '@components/ui/BtnCopyCode.astro';
import ContentCode from './_content-code.astro';
---

<ul class="nav nav-tabs nav-flat mb-3">
    <li class="nav-item" role="presentation">
        <a
            href="#tab-preview"
            class="nav-link active"
            data-bs-toggle="tab"
            role="tab"
            aria-controls="nav-preview"
            aria-selected="true"
        >
            Preview
        </a>
    </li>

    <li class="nav-item">
        <a
            href="#tab-code"
            class="nav-link"
            data-bs-toggle="tab"
            role="tab"
            aria-controls="nav-code"
            aria-selected="false"
        >
            Code
        </a>
    </li>
</ul>

<div class="tab-content border-0">
    <div class="tab-pane show active" id="tab-preview">1</div>
    <div class="tab-pane code" id="tab-code">
        <div class="d-flex mb-3">
            <BtnCopyCode id="#code" />
        </div>

        <ContentCode />
    </div>
</div>

<style>
    .nav-tabs.nav-flat {
        --bs-nav-tabs-border-width: 2px;
    }
    .nav-tabs.nav-flat li a {
        border: 0;
        padding: 0.625rem 1.25rem;
    }

    .nav-tabs.nav-flat .nav-item .nav-link {
        position: relative;
        color: inherit;
        transition: all 0.2s;
    }
    .nav-tabs.nav-flat .nav-item .nav-link::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: transparent;
        border-bottom: 2px solid transparent;
        transition: all 0.3s;
    }
    .nav-tabs.nav-flat .nav-item .nav-link.active::before {
        border-bottom: 2px solid var(--app-theme);
    }
    .nav-tabs.nav-flat .nav-item .nav-link:hover {
        color: var(--app-theme);
    }

    .nav-tabs.nav-flat .nav-link.active {
        background-color: transparent;
    }
    .nav-tabs.nav-flat .nav-item .nav-link.active:hover {
        color: inherit;
    }
</style>
