<ul class="ps-3">
    <li>Versão: 1.0.0</li>
    <li>Data de criação: 07/08/2025</li>
    <li>Data de update: 07/08/2025</li>
    <li>Autor: Rogério Saraceni</li>
</ul>

<p>A mesma Tabs do Bootstrap com algumas modificações via CSS.</p>
