<div class="col-md-5">
    <p class="mb-1 fs-6 mb-3">
        <i class="fas fa-clipboard-list text-success"></i> Selecione Checklist
    </p>

    <div style="overflow: auto; max-height: 330px;">
        <div class="wrapper-checklist">
            <div class="content-checkbox-btn">
                <label>
                    <input type="checkbox" name="checklist_15" value="1" class="checklist" />
                    <span class="name"><i class="fa-solid fa-tablet"></i> Totens</span>
                </label>
            </div>
        </div>
    </div>
</div>
