---
import './_styles.css';
import Scripts from './_scripts.astro';
import ContentUpload from './_content-upload.astro';
import ContentSplide from './_content-splide.astro';
import ContentChecklist from './_content-checklist.astro';
---

<link rel="stylesheet" href="/assets/vendors/splide/splide.min.css" />
<link rel="stylesheet" href="/assets/vendors/splide/splide-custom.css" />

<script is:inline src="/assets/vendors/splide/splide.min.js"></script>

<form id="form-upload" method="POST" action="processos.asp" enctype="multipart/form-data">
    <ContentUpload />

    <div class="card mb-4">
        <article class="card-body">
            <section class="row">
                <div class="col-md-7">
                    <ContentSplide />
                </div>

                <div class="col-md-5">
                    <ContentChecklist />
                </div>
            </section>

            <hr />
            <div class="d-flex justify-content-end gap-2">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </article>
    </div>
</form>

<Scripts />
